:root {
    --color-main:#000000;
    --color-extra:#1C1C1C;
    --color-letter:#F8F5F2;
    --color-highlight:#EDB83D;
    --color-hard:#D70026;
    --color-easy:#68A225;
    --color-medium:#F5BE41;
    --color-button:#202020;
}