:root {
    --color-main:#000000;
    --color-extra:#1C1C1C;
    --color-letter:#F8F5F2;
    --color-highlight:#EDB83D;
    --color-hard:#D70026;
    --color-easy:#68A225;
    --color-medium:#F5BE41;
    --color-button:#202020;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tektur', cursive;
 }
body {
	font-size: 13px;
	background: url(../images/ahri.jpg);
	color: #777
}
h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin-top: 0
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	font-size: 11px;
	margin: 0 0 0 5px
}
h1 {
	font-size: 28px
}
h2 {
	font-size: 24px
}
h3 {
	font-size: 20px
}
h4 {
	font-size: 16px
}
h5 {
	font-size: 13px
}
h6 {
	font-size: 11px
}
strong, b {
	color: #555
}
a:hover, a:focus {
	outline: 0
}
small, .small {
	font-size: 11px
}
pre, code {
	padding: 1px 2px;
	font-weight: bold;
	font-size: 12px
}
blockquote {
	border-left: 3px solid #dcdddf
}
blockquote p {
	font-size: 14px
}
blockquote small::before {
	content: "# "
}
.lead {
	font-size: 16px;
	line-height: 22px
}
.text-muted {color: #999;}
.wrapper {
    width: 420px;
    background: transparent;
    border:2px solid rgb(255,255,255,.2) ;
    backdrop-filter: blur(300px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: var(--color-letter);
    border-radius: 10px;
    padding: 30px 40px;
	margin: 100px auto;
 }
 .wrapper h1 {
    font-size: 36px;
    text-align: center;
 }
 .wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
 }
 
 .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--color-letter);
    padding: 20px 45px 20px 20px ;
 }
 .input-box input::placeholder {
    color: var(--color-letter);
 }
 .input-box span {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
 }
 
 .wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
 }
 
 .remember-forgot label input {
    accent-color: var(--color-highlight);
    margin-right: 3px;
    margin-left: 10px;
 }
 .remember-forgot a {
    color: var(--color-letter);
    text-decoration: none;
    margin-right: 10px;
 }
 .remember-forgot a:hover {
    color:var(--color-highlight);
    font-weight: 600;
 }
 
 .wrapper .btn {
    width: 100%;
    height: 40px;
    background: var(--color-letter);
    border: none;
    outline: none; 
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(122,122,122,.2);
    cursor: pointer;
    font-size: 15px;
    color: var(--color-extra);
    font-weight: 600;
 }
 
 .wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 15px 0 10px;
 }
 
 .register-link p a {
    color: var(--color-letter);
    text-decoration: none;
    font-weight: 800;
 }
 .register-link p a:hover {
    color:var(--color-highlight) ;

 }